# Dependencies
/node_modules

# Build output
/dist
*.tsbuildinfo

# Vite
*.local

# IDE
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Testing
/coverage
/playwright-report
/test-results

# Misc
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
